.btn {
    padding: 6px 18px;
    border-radius: 4px;
    outline: none;
    border: none;
    cursor: pointer;
    text-decoration: none;

    // &:hover {
    //     transition: all 0.2s ease-out;
    //     background-color: $color-purple-C2CE;
    //     color: $color-black-40;
    // }

    &--primary {
        background-color: transparent;
    }

    &--noline {
        background-color: $color-white;
        color: $color-black-40;
        font-size: 15px;
        border: none;
        transition: all 0.3s ease-out;

        &:hover {
            background-color: $color-white;
            color: $color-black-40;
            text-decoration: underline;
        }
    }

    &--modal {
        background-color: $color-black-40;

        &:hover {
            transition: all 0.2s ease-out;
            background-color: $color-red-background-hover;
            color: $color-black-40;
        }
    }

    &--medium {
        font-size: 18px;
        color: $color-white;
        background-color: $color-blue-CC;

        &:hover {
            color: $color-yellow-btn-hover;
            background-color: $color-blue-CC;
        }
    }

    &--large {
        padding: 12px 26px;
        font-size: 20px;
        color: $color-white;
    }

    &--linear {
        background: linear-gradient(180deg, #fff13c 0%, #fbc50c 51.04%, #f18f3f 100%);
        border-radius: 8px;
        justify-content: center;
        align-items: center;
        padding: 12px 20px;
        font-weight: bold;
        font-size: 16px;
        line-height: 24px;
        color: $color-black;
    }

    &--outline {
        background-color: $color-white-FA;
        width: 30%;
        border: 2px solid $color-black-B3;
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 15px;
        font-weight: 500;

        &:active{
            background-color: $color-blue-FF;
            border: 2px solid $color-blue-CC;
            color: $color-white-FA;
        }
        &:focus{
            box-shadow: none;
        }
    }
}

.btn--user--info {
    padding-left: 2rem;

    & div {
        & button {
            text-align: left;

            & .greeting-message {
                font-size: 12px;
                line-height: 22px;
                color: $color-user-card;
                padding-top: 0.8rem;
            }

            div {
                color: $color-black-40;
                font-weight: 600;
            }
        }
    }
}

.list-button {
    text-align: center;
    margin-top: 2rem;

    .btn {
        margin: 0 0.5rem;
        color: $color-white;
        font-size: 15px;
        width: 10rem;

        &-warning {
            &:hover {
                background-color: #ffc107;
            }
        }

        &-info {
            &:hover {
                background-color: #31d2f2;
            }
        }

        &-success {
            &:hover {
                background-color: #157347;
            }
        }

        &-avatar {
            width: 15rem;
        }
    }
}
