.btn {
    padding: 8px 20px;
    border-radius: 4px;
    outline: none;
    border: none;
    cursor: pointer;
    text-decoration: none;

    &:hover{
        transition: all 0.3s ease-out;
        background: rgba(252, 124, 50, 0.562);
        color: $color-blue-C4;
    }

    &--primary {
        background-color: $color-pink-60;
    }

    &--outline {
        background-color: transparent;
        color: $color-white;
        border: 1px solid var(--primary);
        transition: all 0.3s ease-out;
    }

    &--medium {
        font-size: 18px;
        color: $color-white;
    }

    &--large {
        padding: 12px 26px;
        font-size: 20px;
        color: $color-white;
    }

    &__blue-B8 {
        background-color: $color-blue-B8;
        font-weight: 700;
        border-radius: 0;
        line-height: 25px;
        font-size: 15px;
        font-weight: 500;
    }
}
