.btn {
    padding: 6px 18px;
    border-radius: 4px;
    outline: none;
    border: none;
    cursor: pointer;
    text-decoration: none;

    &:hover {
        transition: all 0.2s ease-out;
        background-color: $color-purple-C2CE;
        color: $color-black-40;
    }

    &--primary {
        background-color: transparent;
    }

    &--outline {
        background-color: $color-white;
        color: $color-white;
        border: 1px solid var(--primary);
        transition: all 0.3s ease-out;
    }

    &--modal {
        background-color: $color-black-40;

        &:hover {
            transition: all 0.2s ease-out;
            background-color: $color-red-background-hover;
            color: $color-black-40;
        }
    }

    &--medium {
        font-size: 18px;
        color: $color-white;

        &:hover {
            color: $color-yellow-btn-hover;
        }
    }

    &--large {
        padding: 12px 26px;
        font-size: 20px;
        color: $color-white;
    }

    &--linear {
        background: linear-gradient(180deg, #FFF13C 0%, #FBC50C 51.04%, #F18F3F 100%);
        border-radius: 4px;
        justify-content: center;
        align-items: center;
        padding: 13px 38px;
        font-weight: bold;
        font-size: 16px;
        line-height: 24px;
        color: $color-black;
    }
}

.btn--user--info {
    padding-left: 2rem;

    & div {
        & button {
            text-align: left;

            & .greeting-message {
                font-size: 12px;
                line-height: 22px;
                color: $color-user-card;
                padding-top: 0.8rem;
            }

            div {
                color: $color-black-40;
                font-weight: 600;
            }
        }
    }
}
