.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 20;
    background-color: rgba(82, 72, 72, 0.623);
}

.modal-overlay {
    position: fixed;
    top: 10vh;
    margin-left: 20%;
    width: 60%;
    height: 80vh;
    background-color: white;
    padding: 1rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    z-index: 30;
    animation: slide-down 300ms ease-out forwards;
    overflow-y: scroll;
}

.check-submit{
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 12px;
    align-items: center;
    align-content: center;

    @media screen and (max-width: 1095px) {
        display: block;
    }
}
