.layout-table {
    .MuiTableCell-head {
        background-color: $color-yellow-00 !important;
        color: $color-red-24 !important;
        font-family: "Montserrat", sans-serif !important;
        font-size: 15px !important;
        line-height: 28px !important;
        font-weight: 600 !important;
    }

    .MuiTableCell-body {
        color: $color-black-40 !important;
        font-family: "Montserrat", sans-serif !important;
        font-size: 15px !important;
        line-height: 28px !important;
    }

    svg {
        font-size: 20px;
        cursor: pointer;
    }
}

// .css-i4bv87-MuiSvgIcon-root {
//     @media screen and (max-width: 583px) {
//         right: 13% !important;
//     }
// }

.MuiTablePagination-selectLabel,
.MuiTablePagination-displayedRows,
.MuiSelect-standard,
.css-10by3a5-MuiButtonBase-root-MuiMenuItem-root-MuiTablePagination-menuItem {
    color: $color-black-40 !important;
    font-family: "Montserrat", sans-serif !important;
    font-size: 15px !important;
    line-height: 28px !important;
}

.MuiTablePagination-selectLabel {
    font-weight: 600 !important;
}

.css-1qgma8u-MuiButtonBase-root-MuiTableSortLabel-root:hover {
    color: $color-red-24 !important;
}
.css-1qgma8u-MuiButtonBase-root-MuiTableSortLabel-root.Mui-active {
    color: $color-red-24 !important;
}
.css-1qgma8u-MuiButtonBase-root-MuiTableSortLabel-root:hover .MuiTableSortLabel-icon {
    opacity: 1 !important;
}
.MuiTableSortLabel-icon {
    color: $color-red-24 !important;
}
.MuiPagination-outlined {
    button {
        font-size: 15px !important;
    }
}
.css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root {
    font-size: 15px !important;
}

.MuiTablePagination-toolbar {
    //     flex-flow: wrap !important;
    //     justify-content: center !important;
    padding: 0 !important;
}

// // .MuiPagination-outlined {
// //     margin-left: 17rem;
// // }

.search--bar {
    input {
        border: 2px solid $color-black-B3;
        padding-right: 40px;
        border-radius: 10px;

        &:hover {
            border-color: $color-blue-B8;
        }
    }

    fieldset {
        display: none;
    }
}

.css-1u3bzj6-MuiFormControl-root-MuiTextField-root {
    width: 50%;
}

.css-e53awj-MuiStack-root {
    justify-content: space-between;
    padding: 0px 55px;
}

.css-1oj2twp-MuiPagination-root {
    align-self: center;
}

@media screen and (max-width: 850px) {
    .css-1u3bzj6-MuiFormControl-root-MuiTextField-root {
        width: 80%;
    }

    .css-i4bv87-MuiSvgIcon-root {
        right: 11% !important;
    }
}

@media screen and (max-width: 583px) {
    .css-e53awj-MuiStack-root {
        flex-wrap: wrap-reverse;
    }

    .css-jtlhu6-MuiTablePagination-root {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
    }

    .css-1oj2twp-MuiPagination-root {
        margin-left: auto !important;
        margin-right: auto !important;
        margin-top: 20px !important;
        margin-bottom: 10px !important;
    }
}
