$color-white: #FFFFFF;
$color-white-F3: #F3F3F3;
$color-white-F9: #F9F9F9;
$color-white-DF: #DFDFDF;
$color-black: #000000;
$color-black-26: #262626;
$color-black-40: #404040;
$color-black-70: #707070;
$color-blue-C4: #5036C4;
$color-blue-7C: #22397C;
$color-blue-A3: #1952A3;
$color-blue-B8: #0067B8;
$color-blue-D2: #4ACCD2;
$color-blue-BF: #47B8BF;
$color-red: #F73C3D;
$color-red-2C: #f02c2c;
$color-red-7F: #d47f7f;
$color-red-mobile-btn: #f8b21b;
$color-red-background-hover: #e69a9ac0;
$color-purple-C2CE: #da74829d;
