$color-white: #FFFFFF;
$color-white-F3: #F3F3F3;
$color-white-F9: #F9F9F9;
$color-white-FA: #FAFAFA;
$color-white-DF: #DFDFDF;
$color-black: #000000;
$color-black-26: #262626;
$color-black-40: #404040;
$color-black-70: #707070;
$color-blue-CC: #0052CC;
$color-blue-C4: #5036C4;
$color-blue-7C: #22397C;
$color-blue-A3: #1952A3;
$color-blue-B8: #0067B8;
$color-blue-D2: #4ACCD2;
$color-blue-BF: #47B8BF;
$color-blue-FF: #1890FF;
$color-red: #F73C3D;
$color-red-2C: #f02c2c;
$color-red-24: #EB1C24;
$color-red-7F: #d47f7f;
$color-yellow-00: #FFF000;
$color-yellow-0E: #FFC20E;
$color-yellow-mobile-btn: #F8B21B;
$color-red-background-hover: #E69A9AC0;
$color-yellow-btn-hover: #FDCC63;
$color-yellow-nav-link: #CEE983;
$color-purple-C2CE: #DA74829D;
$color-purple-DD6E: #FCD2DD6E;
$color-user-card: #FFCD6F;
$color-green: #4FA800;
$color-green-btn-account-mobile: #b3e95d;
$color-orange-user-card-btn: #e09523;
$color-orange-user-card-btn-hover: #eccc9b3b;
$color-red-user-card-btn-hover: #ee96963b;
