@import "../Abstracts/variable";

.page-404{
    min-height: 100vh;
    text-align: center;
    padding-top: 20vh;

    h1 {
        margin-top: 5vh;
    }

    h1, h2 {
        color: $color-red-24;
    }

    @media screen and (max-width: 1095px) {
        padding-top: 30vh;

        h1 {
            font-size: 30px;
        }

        h2 {
            font-size: 20px;
        }
    }
}