@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  max-width: 100%; }

body {
  box-sizing: border-box;
  min-height: 100%;
  max-width: 100%; }

h1 {
  color: #22397C;
  font-size: 45px;
  font-family: 'Raleway', sans-serif;
  font-weight: 800; }

h2 {
  color: #22397C;
  font-size: 32px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700; }

p {
  color: #404040;
  font-family: 'Montserrat', sans-serif;
  font-size: 17px;
  line-height: 28px;
  font-weight: 400;
  white-space: normal; }

a {
  text-decoration: none;
  color: #404040;
  font-family: 'Montserrat', sans-serif;
  font-size: 17px;
  line-height: 28px;
  font-weight: 400;
  white-space: normal; }

.container {
  margin: 0 141px; }

img {
  max-width: 100%; }

dl, ol, ul {
  margin-bottom: 0; }

#root {
  min-height: 100%; }

.btn {
  padding: 13px 24px 16px;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  border-radius: 43px;
  color: #FFFFFF;
  background-color: #1952A3;
  display: inline-block; }
  .btn:link, .btn:visited {
    text-decoration: none; }
  .btn__blue-B8 {
    background-color: #0067B8;
    padding: 5px 25px 5px;
    font-weight: 700;
    border-radius: 0;
    line-height: 25px;
    font-size: 15px;
    font-weight: 500; }

lable {
  color: #404040;
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 22px; }

.input-section {
  margin-bottom: 13px; }

.form-control {
  margin-top: 5px;
  margin-bottom: 5px;
  border-bottom: 1px solid #707070;
  border-left: none;
  border-right: none;
  border-top: none;
  padding-top: 5px;
  padding-left: 0;
  padding-bottom: 5px;
  font-size: 15px;
  color: #707070; }
  .form-control:hover {
    border-bottom: 1px solid #0067B8; }

.error {
  color: #F73C3D;
  font-size: 13px;
  font-weight: 500;
  line-height: 22px; }

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10%;
  background: #4ACCD2;
  color: #FFFFFF; }

.nav-link {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none; }

.login-layout {
  background: url(https://login.gre.ac.uk/adfs/portal/illustration/illustration.jpg?id=E59222772F7DA10A27598E8B24D23319BF6C4E5B715402648EA5FFA75EE1C337);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  -webkit-background-size: cover; }

.login-background {
  background-color: rgba(0, 0, 0, 0.4);
  height: 100%;
  width: 100%;
  background-size: cover;
  -webkit-background-size: cover; }

.login-panel {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  margin-bottom: 28px;
  margin-left: auto;
  margin-right: auto;
  min-height: 235px;
  min-width: 320px;
  max-width: 486px;
  width: 412px;
  height: auto;
  padding: 36px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.55);
  border: 1px solid rgba(0, 0, 0, 0.4); }
  .login-panel_header {
    margin-bottom: 27px; }

.login-title {
  font-size: 24px;
  color: #262626;
  font-weight: 600;
  line-height: 28px;
  margin-bottom: 20px; }
