@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  max-width: 100%; }

body {
  box-sizing: border-box;
  min-height: 100%;
  max-width: 100%; }

h1 {
  color: #22397C;
  font-size: 45px;
  font-family: 'Raleway', sans-serif;
  font-weight: 800; }

h2 {
  color: #22397C;
  font-size: 32px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700; }

p {
  color: #404040;
  font-family: 'Montserrat', sans-serif;
  font-size: 17px;
  line-height: 28px;
  font-weight: 400;
  white-space: normal; }

a {
  text-decoration: none;
  color: #404040;
  font-family: 'Montserrat', sans-serif;
  font-size: 17px;
  line-height: 28px;
  font-weight: 400;
  white-space: normal; }

.container {
  margin: 0 141px; }

img {
  max-width: 100%; }

dl, ol, ul {
  margin-bottom: 0; }

#root {
  min-height: 100%; }

.btn {
  padding: 6px 18px;
  border-radius: 4px;
  outline: none;
  border: none;
  cursor: pointer;
  text-decoration: none; }
  .btn:hover {
    transition: all 0.2s ease-out;
    background-color: #da74829d;
    color: #404040; }
  .btn--primary {
    background-color: transparent; }
  .btn--outline {
    background-color: #FFFFFF;
    color: #FFFFFF;
    border: 1px solid var(--primary);
    transition: all 0.3s ease-out; }
  .btn--modal {
    background-color: #404040; }
    .btn--modal:hover {
      transition: all 0.2s ease-out;
      background-color: #e69a9ac0;
      color: #404040; }
  .btn--medium {
    font-size: 18px;
    color: #FFFFFF; }
    .btn--medium:hover {
      color: #fdcc63; }
  .btn--large {
    padding: 12px 26px;
    font-size: 20px;
    color: #FFFFFF; }
  .btn__blue-B8 {
    background-color: #0067B8;
    font-weight: 700;
    border-radius: 0;
    line-height: 25px;
    font-size: 15px;
    font-weight: 500; }

.btn--user--info {
  padding-left: 2rem; }
  .btn--user--info div button {
    text-align: left; }
    .btn--user--info div button .greeting-message {
      font-size: 12px;
      line-height: 22px;
      color: #ffcd6f;
      padding-top: 0.8rem; }
    .btn--user--info div button div {
      color: #404040;
      font-weight: 600; }

lable {
  color: #404040;
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 22px; }

.input-section {
  margin-bottom: 13px; }

.form-control {
  margin-top: 5px;
  margin-bottom: 5px;
  border-bottom: 1px solid #707070;
  border-left: none;
  border-right: none;
  border-top: none;
  padding-top: 5px;
  padding-left: 0;
  padding-bottom: 5px;
  font-size: 15px;
  color: #707070; }
  .form-control:hover {
    border-bottom: 1px solid #0067B8; }

.error {
  color: #F73C3D;
  font-size: 13px;
  font-weight: 500;
  line-height: 22px; }

.dropdown-menu {
  width: 180px;
  position: absolute;
  top: 80px;
  display: block;
  list-style: none;
  text-align: start;
  border: none;
  padding: 0; }
  .dropdown-menu li {
    height: 60px;
    background: #f02c2c;
    cursor: pointer;
    padding-top: 0.8rem; }
  .dropdown-menu li:hover {
    background: #d47f7f; }
  .dropdown-menu.clicked {
    display: none; }
  .dropdown-menu .dropdown-link {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: #FFFFFF;
    padding: 1rem; }
    .dropdown-menu .dropdown-link:hover {
      color: #cee983; }

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 20;
  background-color: rgba(31, 30, 30, 0.486); }

.modal-overlay {
  position: fixed;
  top: 20vh;
  left: 5%;
  width: 90%;
  background-color: white;
  padding: 1rem;
  border-radius: 14px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  z-index: 30;
  animation: slide-down 300ms ease-out forwards; }

.MuiButton-root {
  height: 55px !important; }
  .MuiButton-root:hover {
    background-color: #fcd2dd6e !important;
    transition: all 0.5s ease; }
  .MuiButton-root .greeting-message {
    text-align: left;
    font-size: 12px;
    padding-top: 1.4rem;
    line-height: 16px;
    color: #F3F3F3; }
  .MuiButton-root .MuiAvatar-root {
    width: 35px;
    height: 35px;
    left: 5px; }

.MuiPaper-root {
  top: 65px !important;
  left: 1500px !important;
  background-color: #ffcd6f !important;
  border-radius: 0 !important;
  width: 18.5rem; }
  .MuiPaper-root .MuiList-root {
    padding-top: 0 !important;
    padding-bottom: 0 !important; }
    .MuiPaper-root .MuiList-root .MuiMenuItem-root {
      font-size: 15px !important;
      text-align: center !important; }
    .MuiPaper-root .MuiList-root .logout {
      margin-left: 1rem !important;
      align-items: center !important; }

.NavbarItems {
  background: linear-gradient(90deg, #f84343 0%, #f8153b 60%);
  height: 80px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 1.2rem; }
  .NavbarItems .greeting-message.no-user {
    margin-bottom: 0;
    margin-top: 0.2rem;
    color: #FFFFFF; }
  .NavbarItems .btn--login {
    padding-left: 0.5rem; }

.navbar-logo {
  padding: 35px 90px;
  overflow: hidden;
  background-image: url("../../asset/logo.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 0px;
  margin-left: 5px; }

.fa-react {
  margin-left: 0.1rem;
  font-size: 4rem; }

.fa-times,
.fa-bars {
  padding-top: 15%;
  font-size: 3rem;
  color: #DFDFDF; }

.nav-menu {
  display: grid;
  grid-template-columns: repeat(8, auto);
  grid-gap: 4rem;
  list-style: none;
  text-align: center;
  width: 75vw;
  justify-content: flex-start;
  padding-left: 2.5rem; }
  .nav-menu li.nav-items {
    height: 80px;
    padding-top: 2rem; }
  .nav-menu .btn--create--idea {
    padding-top: 2rem;
    padding-left: 4rem; }

.nav-link {
  color: #fafafa;
  text-decoration: none;
  padding: 0.5rem 1rem; }

.nav-link:hover {
  background-color: #fcd2dd6e;
  color: #cee983;
  text-decoration: none;
  border-radius: 6px;
  transition: all 0.2s ease-out; }

.nav-link-mobile {
  display: none; }

.menu-icon {
  display: none; }

@media screen and (max-width: 1095px) {
  .NavbarItems {
    position: relative; }
  .nav-menu {
    grid-gap: 1.2rem;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 95vh;
    position: absolute;
    top: 80px;
    left: -100%;
    margin: 0;
    opacity: 1;
    transition: all 0.5s ease; }
  .nav-menu.active {
    background: #f02c2c;
    padding: 0;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1; }
  .nav-link {
    text-align: center;
    padding: 1.2rem;
    width: 100%;
    display: table; }
  .nav-link:hover {
    background-color: #fcd2dd6e;
    border-radius: 0; }
  .navbar-logo {
    position: absolute;
    top: 0;
    left: 15px;
    margin: 0;
    transform: translate(8%, 22%); }
  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer; }
  .nav-link-mobile {
    display: block;
    text-align: center;
    padding: 1.5rem;
    margin: 2rem auto;
    border-radius: 4px;
    width: 80%;
    background: #f8b21b;
    text-decoration: none;
    color: #FFFFFF;
    font-size: 1.5rem; }
  .nav-link-mobile:hover {
    background: transparent;
    border: 0.15rem solid #f8b21b;
    color: #F9F9F9;
    transition: 150ms; }
  .btn.btn--primary,
  .btn--user--info,
  .greeting-message,
  #user-avatar-navbar {
    display: none; } }

.login-layout {
  background: url(../../asset/login-bg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  -webkit-background-size: cover; }

.login-background {
  background-color: rgba(0, 0, 0, 0.4);
  height: 100%;
  width: 100%;
  background-size: cover;
  -webkit-background-size: cover; }

.login-panel {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  margin-bottom: 28px;
  margin-left: auto;
  margin-right: auto;
  min-height: 235px;
  min-width: 320px;
  max-width: 486px;
  width: 412px;
  height: auto;
  padding: 36px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.55);
  border: 1px solid rgba(0, 0, 0, 0.4); }
  .login-panel_header {
    margin-bottom: 27px; }

.login-title {
  font-size: 24px;
  color: #262626;
  font-weight: 600;
  line-height: 28px;
  margin-bottom: 20px; }
