*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    max-width: 100%;
}

body {
    box-sizing: border-box;
    min-height: 100%;
    max-width: 100%;
}

h1 {
    color: $color-blue-7C;
    font-size: 45px;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
}

h2 {
    color: $color-blue-7C;
    font-size: 32px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}

p {
    color: $color-black-40;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    line-height: 28px;
    font-weight: 400;
    white-space: normal;
    margin-bottom: 0;
}

a {
    text-decoration: none;
    color: $color-black-40;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    line-height: 28px;
    font-weight: 400;
    white-space: normal;
}

.container {
    max-width: 100%;
    padding: 3% 5% 2%;
    @media screen and (max-width: 1095px) {
        padding: 6% 5% 20%;
    }
}

img {
    max-width: 100%;
}

dl, ol, ul {
    margin-bottom: 0;
}

hr {
    background-color: $color-black-70;
    opacity: 1;
}

#root {
    min-height: 100%;
    background: url("../../asset/manage-bg.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}